@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Island+Moments&display=swap");
/* ======== This is home text animation css ======== */

.waviy {
  align-items: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
  display: flex;
}
.waviy span {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #004534;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

/* =================== This is home page css ================= */

/* ** Add prallox image on the home page. */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.home-content {
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
}

.home-content h1 {
  font-size: 5rem;
}
.home-content p {
  font-size: 2rem;
  color: #f7ce85;
}

.home-btn {
  margin-top: 20px;
}

.home-btn button {
  padding: 15px;
  font-size: 1.3rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  align-items: center;
  opacity: 1;
}

.home-btn .btn-1 {
  color: white;
  background-color: #f7ce85;
  border: none;
  opacity: 1;
}

.home-btn .btn-1 span {
  opacity: 0;
  margin-top: 200px;
  transform: rotate(-45deg);
  transition: 0.5s;
}
.home-btn .btn-1:hover {
  box-shadow: 0 0 15px #f7ce85;
}

.home-btn .btn-1:hover span {
  opacity: 1;
}

.home-btn .btn-1:hover span {
  opacity: 1;
  transform: rotate(0deg);
}
.about-information {
  width: 60%;
  text-align: center;
}

.home-bg-lotti {
  width: 38rem;
}
.home-about {
  background-color: #d5c455;
  width: 38rem;
}
/* about section */

@media (max-width: 1100px) {
  .home-about {
    /* width: 70rem; */
    width: 30rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .home-content > span {
    text-align: left;
  }
}

@media (max-width: 877px) {
  .home-about {
    display: none;
  }
  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
  }
  .home-content span {
    text-align: left;
    width: 35rem;
  }
}

/* Add media quary for responsiveness */

@media only screen and (max-width: 992px) {
  .home-bg-lotti {
    width: 20rem;
    margin-left: 4rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 992px) {
  .home-bg-lotti {
    width: 25rem;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    /* margin-top: -5rem; */
  }
}

@media (max-width: 600px) {
  .container {
    margin-left: 7rem;
  }
}

/* Recently btn  */

.Home-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f7ce85;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.Home-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Home-button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.Home-button:hover span {
  padding-right: 15px;
}

.Home-button:hover span:after {
  opacity: 1;
  right: 0;
}

.multylayer {
  height: 100vh;
  background-image: url("images/image.png");
  background-size: cover;
  background-size: 45% 120%;
  background-repeat: no-repeat;
  background-position: right;

  background-attachment: fixed;
}

/* This is second layer of home section */

.hero {
  padding: 6rem;
  display: flex;
  justify-content: space-between;
  color: #004534;
}

.left-hero {
  padding: 1.5rem;
  width: 40rem;
}

.right-hero {
  width: 30rem;
}

.absolute-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
}

/* Home page thired layer */

.infinity-text-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}

.infinity-text {
  white-space: nowrap;
  font-size: 2rem;
  color: var(--text-color);
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsciveness for hero hover */

@media (max-width: 1000px) {
  .infinity-text-container {
    width: 70rem;
  }
}

@media only screen and (max-width: 1200px) {
  .hover-hero-section {
    width: 70rem;
  }
  .home-bg-lotti {
    width: 25rem;
  }
  .footer-below {
    width: 70rem;
  }
}

/* ================== Css for cv section ============ */

.button-cv {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;
}

.button-cv::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button-cv::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-cv::after,
.button-cv::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text-cv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper-cv,
.text-cv,
.icon-cv {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text-cv {
  top: 0;
}

.text-cv,
.icon-cv {
  transition: top 0.5s;
}

.icon-cv {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-cv svg {
  width: 24px;
  height: 24px;
}

.button-cv:hover {
  background: #6c18ff;
}

.button-cv:hover .text-cv {
  top: -100%;
}

.button-cv:hover .icon-cv {
  top: 0;
}

.button-cv:hover:before,
.button-cv:hover:after {
  opacity: 1;
  visibility: visible;
}

.button-cv:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-cv:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* Css for constomer satisfaction */

.constomer-satisfaction {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  padding-right: 50px;
}

.constomer-satisfaction .cos-2 {
  width: 100%;
  padding: 3rem;
  padding-inline: 4rem;
  margin-left: 3.5rem;
}

/* .constomer-satisfaction .cos-1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.constomer-satisfaction .cos-2 p {
  font-size: 1rem;
}

@media (max-width: 630px) {
  .cos-2 p {
    width: 20rem;
    /* padding-right: 3rem; */
    padding-left: -9rem;
  }
}

/* ? This is crousel css */

.banner-btn {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #000000;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.banner-btn span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
  text-decoration: none;
}
.banner-btn:hover {
  animation: sh0 0.5s ease-in-out both;
}

.banner-btn::before,
.banner-btn::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.banner-btn:hover::before,
.banner-btn:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.banner-btn:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.banner-btn:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

/* ? This is svg css */

.home-waves {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.home-waves svg {
  position: relative;
  display: block;
  width: calc(222% + 1.3px);
  height: 241px;
  transform: rotateY(180deg);
}

.home-waves .shape-fill {
  fill: #f9bcac;
}

@media (max-width: 1050px) {
  .home-waves {
    width: 70rem;
  }
  .hight-bgColor {
    width: 70rem;
  }
  .footer-svg-border {
    display: none;
  }
  .footer-container {
    width: 70rem;
  }
}

@media (max-width: 1200px) {
  .footer-left {
    display: none;
  }
}

/** This is btn css */

.crousel-btn {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

/* CSS for border radius */
.custom-shape-divider-bottom-1706693376 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1706693376 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1706693376 .shape-fill {
  fill: #1c1d20;
}

.speciar {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./assets/svg/layered-waves-haikei.svg");
}

/* *Middle text color full */
.middle-text {
  padding: 2rem;
}

.middleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3-heding {
  font-family: "Island Moments", cursive;
  font-size: 4.2rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  text-align: center;
  color: #004534;
}

.middle-text p {
  padding: 2rem;
  font-family: "Irish Grover", system-ui;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #004534;
}

.middleText-btn {
  --color: #004534;
  font-family: inherit;
  display: inline-block;
  background: transparent;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  cursor: pointer;
}

.middleText-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.middleText-btn:hover {
  color: #fff;
}

.middleText-btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.middleText-btn:hover:before {
  top: -30px;
  left: -30px;
}

.middleText-btn:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

/*!================= About section css =============== */

.skill-container {
  padding: 5rem;
}

.skill-cards {
  display: flex;
  justify-content: space-between;
}

.skill-item {
  padding: 3rem;
  width: 35%;
}

.skill-item hr {
  margin-bottom: 1rem;
}

/* soft skills */

.soft-skills {
  padding: 6rem;
}
.clas {
  text-align: center;
  font-size: 2.5rem;
}

/* This is for responsiveness */

@media (max-width: 1000px) {
  .skill-cards:last-child {
    align-items: center;
    flex-direction: column;
    width: 40rem;
    padding: none;
    margin: none;
  }
  .skill-item {
    width: 50rem;
    /* height: 5rem; */
  }
}

@media (max-width: 790px) {
  .soft-skills {
    width: 50rem;
  }
  .clas h1 {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .middleBtn .middleText-btn {
    margin-left: 40rem;
  }
}

/** This is Expirence section */

.expireance {
  padding: 3rem;
  padding-inline: 5rem;
  display: flex;
}

.expireance-left {
  width: 90rem;
}

.expireance-right {
  padding: 2rem;
}

.expireance-right > img {
  width: 50px;
  margin-block: 1.5rem;
  transform: rotate(90deg);
}

/* media quary for expirenace section*/

@media (max-width: 600px) {
  .expireance {
    width: 70rem;
  }
  .expireance-left {
    display: none;
  }
}

/* !! ========= This is Service Section CSS ============ */

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.services-card-img > img {
  width: 80px;
}

.service-container {
  padding: 5rem;
  background-color: rgb(243, 240, 234);
  box-shadow: 0 0 2rem rgb(231, 221, 202);
}

.services-card {
  box-shadow: 0 0 10px rgb(231, 221, 202);
  margin-block: 2rem;
  padding: 2rem;
  width: 30%;
  height: 16rem;
}

.service-costomer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

@media (max-width: 1000px) {
}

/* this is for resoponsiveness */

@media (max-width: 700px) {
  .service-costomer {
    font-size: 1rem;
    /* margin-top: 5rem; */
    padding: 2rem;
  }
}

/* !! ========== This is contact form css ========== */

.contact-lottie {
  width: 60%;
}

.contact-form {
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-form {
  text-align: center;
  padding: 3rem;
  width: 140rem;
  backdrop-filter: blur(14px) saturate(109%);
  -webkit-backdrop-filter: blur(14px) saturate(109%);
  background-color: rgba(14, 19, 34, 0.47);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@media (max-width: 600px) {
  .service-form > h1 {
    font-size: 1.3rem;
  }
}

.contact-container {
  width: 74%;
  height: 100vh;
  margin-top: -12.6rem;
  /* margin-top: 10rem; */
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(14px) saturate(109%);
  -webkit-backdrop-filter: blur(14px) saturate(109%);
  background-color: rgba(14, 19, 34, 0.47);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.contact-text {
  padding: 3rem;
  width: 140rem;
}

.contact-text h1 {
  font-size: 1.4rem;
}

.contact-text p {
  font-size: 0.7rem;
}

.button-card {
  margin-top: 20rem;
}

/* this is for resoponsiveness */

@media (max-width: 1000px) {
  .contact-text {
    display: none;
  }
  .service-form {
    height: 70vh;
  }
}

/* inputs */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}

.input-container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.user-input {
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.user-input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input-container .user-input:valid ~ .label,
.input-container .user-input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.input-container .user-input:valid,
.input-container .user-input:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

#contact-message {
  height: 12rem;
}

.submit-button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.submit-button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.submit-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* !! ============= Log in CSS ============== */

.log-container {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.log-right {
  width: 40%;
  padding: 4rem;
  height: 90vh;
  border-radius: 1.5rem;
  background-color: rgb(205, 205, 205);
  box-shadow: 0 0 30px rgb(205, 205, 205);
}

.log-reg {
  box-shadow: 0 0 20px #e2e2e2;
  width: 40%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
}

.input {
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  border-color: rgba(129, 140, 248);
  padding-left: 3rem;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: 0.5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}

/* ? Edit left login section  */

.log-heding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-top: 2rem; */
}

.log-inputs {
  margin-top: 2rem;
}

.button-login {
  padding: 2rem;
  text-align: center;
}

.log-lottie {
  width: 24rem;
}

.log-link span {
  color: red;
  text-decoration: none;
}

/* This is for media quarys */

@media (max-width: 1000px) {
  .log-lottie {
    width: 10rem;
  }
}

@media (max-width: 800px) {
  .log-right {
    display: none;
  }

  .log-reg {
    width: 70rem;
  }
}

@media (max-width: 426px) {
  .log-heding {
    font-size: 0.7rem;
  }
}

/* ! ======== This is Register file CSS ============ */

.button-wrapper {
  margin: 2rem;
}

.reg-group {
  position: relative;
}

.res-input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.res-input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.res-input:focus ~ label,
.res-input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.res-input:focus ~ .bar:before,
.res-input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.res-input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.reg-container {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reg-left {
  width: 40%;
  height: 94vh;
  border-radius: 2rem 0 0 2rem;
  padding: 3rem;
  background-color: #5264ae;
  box-shadow: 0 0 20px #5264ae;
  margin-right: -2.7rem;
}
.reg-left h1 {
  color: white;
  font-size: 1.5rem;
}
.reg-left p {
  font-size: 0.8rem;
}

.reg-right {
  padding: 5rem;
  background-color: white;
  box-shadow: 0 0 20px #e2e2e2;
  border-radius: 3rem 0rem 0rem 3rem;
  text-align: center;
  height: 95vh;
  margin-left: -4rem;
}

.reg-log {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-log .Navlink > button {
  width: 20.3rem;
  background-color: #1e293b;
  color: rgb(212, 200, 178);
  text-decoration: none;
  font-weight: bold;
}

.Navlink {
  text-decoration: none;
}

.align {
  text-align: left;
  color: black;
}
.align p {
  margin-left: 2rem;
}

.align p span {
  color: red;
  text-decoration: underline;
  cursor: not-allowed;
}

/* this is for resoponsiveness */

@media (max-width: 1000px) {
  .button-wrapper {
    width: auto;
  }
  .reg-log .Navlink > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    font-size: 1rem;
    height: 40px;
  }
}

@media (max-width: 750px) {
  .reg-left {
    display: none;
  }
  .reg-right {
    border-radius: 15px;
    width: 40rem;
    /* padding: 1rem; */
    margin-left: -10rem;
  }
}

/* Lottie animation and position */

.reg-lottie {
  width: 25rem;
  margin-top: -240px;
  position: absolute;
}

/* footer border  */

.footer-svg-border {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -0.6rem;
}

.footer-svg-border svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.footer-svg-border .shape-fill {
  fill: #f9bcac;
}

/* Admin form for user update data */

.admin-form{
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}