@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Itim&display=swap");

/* CSS for all containet in over service website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  /* color: var(--bg-color); */
}

:root {
  --bg-color: #ffffff;
  --text-color: #1c1d20;
  --btn-color: #455ce9;
  --dark-color: #1c1d20;
  --home-color: #999d9e;
  --helper-color: #99b9ff;
}

/* color for after button testimonial #f9bdae */
/* inside the text #004534 */

/** ================ Text animation in over home page ============= */

.err-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* ======== animation for 404 wok ========== */

.lotti-right {
  width: 900px;
  margin-top: 60px;
  margin-right: 60px;
}

.content {
  display: flex;
}

.btns {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -30px;
}

.btns button {
  padding: 15px;
  text-decoration: none;
  align-items: center;
  font-family: "Itim", cursive;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #4681f4;
  background: none;
}
.btns button:hover {
  background-color: #4681f4;
  border: none;
  color: black;
  box-shadow: 0 0 8px #4681f4;
}
#navaa {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.incons {
  position: relative;
}

.instagram-icon {
  width: 400px;
  height: 400px;
}

/* =============== This CSS For footer component ============ */

.footer-container {
  background-color: var(--text-color);
  padding: 11rem;
  /* margin-top: 40rem; */
  color: var(--bg-color);
}

.circle {
  background-color: #455ce9;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: -5rem;
}

.footer-right > img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100px;
  margin-right: 10px;
  margin-bottom: -20px;
}

.footer-img {
  margin-bottom: 40px;
}

.footer-left {
  margin-left: 55rem;
  transform: rotate(200deg);
}

.footer-img h1 {
  font-size: 5rem;
  font-weight: 400;
}

.footer-child3 {
  display: flex;
  justify-content: space-between;
}
.footer-child3 .footer-btn {
  padding: 4.5rem;
}

.footer-child3 .footer-btn button{
  /* width: 4rem; */
  width: 100%;
}

.footer-below {
  padding: 3rem;
  background-color: var(--text-color);
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: var(--bg-color);
  /* margin-top: -10rem; */
}
.below-text-social {
  padding: 3rem;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  justify-content: space-between;
  color: var(--bg-color);
  margin-top: -10rem;
  width: 100%;
}

.below-text p {
  color: #7e7e80;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* media quary for responsiveness */

@media (max-width: 950px){
  .footer-below{
    font-size: 0.8rem;
  }
  .below-text{
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .footer-below{
    height: 5vh;
  }
}



.below-text span {
  color: var(--bg-color);
  /* margin-top: 20px; */
  /* font-size: 1.1rem; */
}

.footer-icons {
  display: flex;
  gap: 45px;
}

.footer-icons span {
  cursor: pointer;
}

/* !! =========== Hero section ============ */

.hover-hero {
  background-color: black;
  padding: 10rem;
}

@media (min-width: 768px) {
  .md\:p-8 {
    padding: 2rem 32px;
  }
}

.hero-child {
  margin-left: auto;
  margin-right: auto;
}

.hero-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(39, 39, 39);
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  transition-duration: 150ms;
}

.hero-card:hover {
  border-color: white;
  color: white;
  text-decoration: none;
  transition-duration: 150ms;
}

.inline-block {
  display: inline-block;
}

.hero-relat {
  position: relative;
  display: block;
  z-index: 10;
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: rgb(115, 115, 115);
  transition: color 150ms, background-color 150ms;
}

.hero-card:hover .hero-relat {
  color: white;
}

.hero-relat:hover {
  color: white;
}

.hero-middle {
  position: relative;
  z-index: 10;
  margin-top: 0.5rem;
  display: block;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: rgb(115, 115, 115);
  text-decoration: underline; /* Set initial text-decoration */
  transition: color 150ms, background-color 150ms, text-decoration 150ms;
}

.hero-card:hover .hero-middle,
.hero-middle:hover {
  color: white;
  text-decoration: none !important; /* Add !important to ensure it overrides other styles */
}



.below-hero {
  position: absolute;
  z-index: 0;
  height: 10rem;
  width: 15rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.numeric {
  position: relative;
  z-index: 10;
  padding: 2.5rem;
}

.numeric-down {
  font-size: 6rem;
  line-height: 1;
  color: rgb(250, 250, 250);
}

