@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Itim&display=swap");

/* CSS for all containet in over service website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  /* color: var(--bg-color); */
}

:root {
  --bg-color: #ffffff;
  --text-color: #1c1d20;
  --btn-color: #455ce9;
  --dark-color: #1c1d20;
  --home-color: #999d9e;
  --helper-color: #99b9ff;
}

/* color for after button testimonial #f9bdae */
/* inside the text #004534 */

/** ================ Text animation in over home page ============= */

.err-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 120px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* ======== animation for 404 wok ========== */

.lotti-right {
  width: 900px;
  margin-top: 60px;
  margin-right: 60px;
}

.content {
  display: flex;
}

.btns {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -30px;
}

.btns button {
  padding: 15px;
  text-decoration: none;
  align-items: center;
  font-family: "Itim", cursive;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid black;
  background: none;
}
.btns button:hover {
  background-color: #4681f4;
  border: none;
  color: black;
  box-shadow: 0 0 8px #4681f4;
}
#navaa {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.incons {
  position: relative;
}

.instagram-icon {
  width: 400px;
  height: 400px;
}

/* =============== This CSS For footer component ============ */

.footer-container {
  background-color: var(--text-color);
  padding: 11rem;
  color: var(--bg-color);
}

.circle {
  background-color: #455ce9;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}


.footer-right > img{
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: -20px;
}

.footer-img {
  margin-bottom: 40px;
}

.footer-left{
  margin-left: 55rem;
  transform: rotate(200deg);
}

.footer-img h1 {
  font-size: 5rem;
  font-weight: 400;
}

.footer-child3 {
  display: flex;
  justify-content: space-between;
}
.footer-child3 .footer-btn {
  padding: 4.5rem;
}

.footer-below {
  padding: 3rem;
  background-color: var(--text-color);
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: var(--bg-color);
  margin-top: -10rem;
}

.below-text p {
  color: #7e7e80;
  font-size: 1rem;
  font-weight: 600;
}

.below-text span {
  color: var(--bg-color);
  margin-top: 20px;
  font-size: 1.1rem;
}

.footer-icons {
  display: flex;
  gap: 45px;
}

.footer-icons span{
  cursor: pointer;
}