/* styles.css */

.target {
  position: relative;
  height: 300vh;
  /* background-color: #2d3748;  */
}

.target .sticky {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

section .sticky .motion {
  display: flex;
  gap: 4;
  transform: translateX(1%);
}

.root-card {
  position: relative;
  height: 450px;
  width: 450px;
  overflow: hidden;
  background-color: #edf2f7;
}

.root-card .background-image {
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: transform 300ms;
}

.root-card:hover .background-image {
  transform: scale(1.1);
}

.content {
  padding: 2rem;
}

.heading-card {
  text-transform: uppercase;
  font-size: 1rem;
}

.root-card .content {
  position: absolute;
  display: flex;
  z-index: 10;
}

.root-card .content p {
  margin-top: 16rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.root-card .content span{
  margin-top: 14rem;
}

.root-card .content p {
  font-size: 0.7rem;
  font-weight: 100;
}

/*!! ================== Service card Css =============  */

.serviceCard {
  padding: 5rem;
}
.serviceCard .serviceSpan {
  color: #004534;
  font-weight: 600;
  /* margin-left: -2rem; */
  font-size: 4rem;
  text-transform: uppercase;
}

.service-item {
  padding: 3rem;
}

/* For responsiveness */

@media (max-width: 1100px) {
  .serviceCard{
    padding: 0;
  }
  .serviceSpan{
    font-size: 1.5rem;
  }
}
