/* styles.css */

.bg-neutral-800 {
    background-color: #2d3748; 
  }
  
  .h-48 {
    height: 12rem; 
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .text-neutral-500 {
    color: #a0aec0; 
  }

  .target{
    position: relative;
    height: 300vh;
    background-color: #2d3748; 
  }
  
  .target .sticky {
    position: sticky;
    top: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    gap: 4;
  }
  
  section .sticky .motion{
    display: flex;
    gap: 4;
    transform: translateX(1%); 
  }
  
  .root-card {
    position: relative;
    height: 450px;
    width: 450px;
    overflow: hidden;
    background-color: #edf2f7;
  }
  
  .root-card .background-image {
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: transform 300ms;
  }
  
  .root-card:hover .background-image {
    transform: scale(1.1);
  }
  
  .root-card .content {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: grid;
    place-content: center;
  }
  
  .root-card .content p {
    background: linear-gradient(to bottom right, #ffffff 20%, transparent 0);
    padding: 8px;
    font-size: 6xl;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    backdrop-filter: blur(8px);
  }
  